@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About My Site";
}
<p>
  Email iTRAAC admin (<a href="mailto:brent.j.anderson6.naf@mail.mil">brent.j.anderson6.naf@mail.mil</a>) about questions/issues.<br/>
  DSN: 370-6585
</p>

<p><a href="EURO-CA root certs.pfx">Import Root Certificates</a><br/>
  Password: iTRAAC<br/>
  Manually place all certificates in the following store: Trusted Root Certification Authorities
</p>