<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <configProtectedData>
    <providers>
      <clear/>
      <add keyContainerName="iTRAACv2_RSAKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="ExportableRsaCryptoServiceProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="ExportableRsaCryptoServiceProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>CWvH8AXccW+s+RhttprUGZKtwvmQywuoPYs9KWg4FjgU3d+rT2wt/OZEFVJarhYhyP/bVAAK9Qceh9ARzIZm/w8M3HAAYkh7TQ+dpAEkMkrOSCwDWAi0wipYmk9gzuhflAqzxPlE26WTzaghNqIOr23jbN8HT6Sqwo4zp+jakH4=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>lrvDZI/xFnuGfTjYxXDrXdZ7Odhux3GDstVqlbkB9H/xkaJ1QPjLpKThu6NmbRgm9yY0vKw5BdNFiglYilz9DdnSdT60tS7lQfha8pFObfx2hHmrPr1smWED967c/bHzjDsqswtr0iwhTRUHKhCPrG3hzCPOcTO2PTpF5fWx3eMdAc3Ul4vlt/7NVcobtO2Er7EKHr1cSMYMUXuR6ixca56Hxwj5Lb1f0O4AVZm4pcG+D33qxzYuaA1z0Nv/KVafHIu2updvo4yUKjYSJoaL7PU+cCWzzt6PxYPGlB+3StQnHK8BJMNFiu17AIWHhsJV</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>