@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Account Locked Out";
}

<div class="message error">
  Your account has been revoked from access to this area.
</div>
<p>
  Contact Admin on About tab for assistance.
</p>