<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iTRAACv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iTRAACv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <!-- nugget: helpful references for encrypting .config files: -->
  <!-- nugget:   http://labs.episerver.com/en/Blogs/Per/Archive/2007/11/Encrypt-your-connection-strings-for-multiple-machines/ -->
  <!-- nugget:   http://msdn.microsoft.com/en-us/library/ms998283.aspx -->
  <!-- nugget:   http://www.codeproject.com/KB/database/WebFarmConnStringsNet20.aspx -->
  <!-- nugget:   http://stackoverflow.com/questions/781658/web-config-encryption-using-rsaprotectedconfigurationprovider-bad-data-error -->

  <!-- nugget: two very crucial and non-obvious points to for this encrypted section stuff to work *across*machines*: -->
  <!-- nugget: 1) you must work with a custom key provider (declared below as ExportableRsaCryptoServiceProvider) and not the default NetFrameworkConfigurationKey -->
  <!-- nugget: 2) you must export the private key you generate and install this on your other machines -->
  <!-- nugget:    (see how this is done via aspnet_regiis with the -pri option of the -px arg in the "RSAKey_Manager.cmd" script I put together) -->

  <!-- nugget: see SecurityHelpers.cs, App.config & "RSAKey_Manager.cmd" in the root application development folder as well -->
  <!-- nugget: key point - "you must create a custom RSA encryption key container and deploy the same key container on all servers in your Web farm. This won't work by default because the default RSA encryption key, "NetFrameworkConfigurationKey", is different for each computer." -->
  <configProtectedData>
    <providers>
      <clear/> <!-- nugget: might be absolutely critical to successful operation - eliminates any conflicting inherited keys from machine.config -->
      <add keyContainerName="iTRAACv2_RSAKey" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="ExportableRsaCryptoServiceProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </providers>
  </configProtectedData>

  <!-- 
    the encrypted connectionString below is accessed via ConfigurationManager.ConnectionStrings["iTRAACv2ConnectionString"]
    and it only contains the User Name and Password parameters since those are the most important things to remain hidden.
    and it's convenient to be able to change the other parameters via simple text.
    the iTRAACv2ConnectionString <applicationSetting> string below is tacked on at runtime for any other required params (Data Source, Initial Catalog, etc.)
  -->
  <connectionStrings configProtectionProvider="ExportableRsaCryptoServiceProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>WxkhZorr0GX9vWQxmBXJVFe+IzJgSD7aRoWPqUKBrAr4Y1Ftt9QVqsTnB//R5Qyki8ZF2Dsqb+l6aPiKVQJxycPh2tFf2ftGsY3TyoIR837X8KGpCSdCxXieOAbnQcFCd9lLt3+MGN8S3K8mKLLusgJ/XjsPm3Wbn28Cs9hNvpM=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>EDo+xTGGq6rmOR9+tqY0ewQdxkWUwlYs51xwKT1cy9iYhG+5fKr0eqnuV3KYFQ98KJWxFHDFkebNAOA7x5055qOuWnRhJLIbq48gAM2OBLqYJ55HMjfNEhqJKIZ/NlCFwLBGvCXD7jcxYC2hRdkoGoLBN5gavoCNA0cru7Z9ckzI32RYjC/GPr+fgzkmfy4jwsixyqurgNFAm+W3zj2aGddOHwFv2r/uSLsVn8JDefQtDsEeictLuN8/UGG6K+fuU3WtJP4+yJg=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
    <iTRAACv2.Properties.Settings>
      <setting name="ZoomSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MainWinLeft" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MainWinTop" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MainWinHeight" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="MainWinWidth" serializeAs="String">
        <value>1000</value>
      </setting>
    </iTRAACv2.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <iTRAACv2.Properties.Settings>
      <setting name="TaxOfficeCode" serializeAs="String">
        <value>BR</value>
      </setting>
      <setting name="iTRAACv2ConnectionString" serializeAs="String">
        <value>Data Source=mwr-tro-v2;Initial Catalog=iTRAACv2;Application Name=iTRAACv2;</value>
      </setting>
    </iTRAACv2.Properties.Settings>
  </applicationSettings>
</configuration>
